*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{

height:100%;

font-family:Segoe UI,sans-serif;

background:#fff8f3;

}

/* APP */

.app{

display:flex;

flex-direction:column;

height:100vh;

}

/* HEADER */

.top-bar{

height:90px;

background:white;

display:flex;

align-items:center;

padding:15px 20px;

box-shadow:0 5px 20px rgba(0,0,0,.08);

}

.logo{

width:60px;

height:60px;

border-radius:18px;

}

.title-side{

margin-left:15px;

flex:1;

}

.title-side h1{

font-size:30px;

font-weight:700;

}

.title-side p{

margin-top:5px;

color:#1fa93c;

font-weight:600;

}

.menu-btn{

width:55px;

height:55px;

border:none;

border-radius:18px;

background:white;

box-shadow:0 5px 15px rgba(0,0,0,.08);

font-size:26px;

cursor:pointer;

}

/* CHAT */

.chat-box{

flex:1;

overflow-y:auto;

padding:20px;

background:#fff8f3;

}

/* AI */

.ai-message{

background:white;

padding:18px;

margin-bottom:18px;

width:80%;

border-radius:25px;

box-shadow:0 8px 20px rgba(0,0,0,.08);

}

/* USER */

.user-message{

background:linear-gradient(135deg,#8df08d,#6fd88f);

padding:18px;

margin-left:auto;

margin-bottom:18px;

width:80%;

border-radius:25px;

color:white;

}

/* INPUT */

.input-bar{

height:90px;

display:flex;

align-items:center;

padding:15px;

gap:10px;

background:white;

box-shadow:0 -8px 20px rgba(0,0,0,.08);

}

.attach-btn,

.image-btn,

#sendBtn{

width:52px;

height:52px;

border:none;

border-radius:16px;

background:#ff9c41;

color:white;

font-size:22px;

cursor:pointer;

}

#userInput{

flex:1;

height:52px;

border:none;

border-radius:25px;

padding-left:20px;

background:#f6f6f6;

outline:none;

font-size:16px;

}